<md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools" style = "center">
				<h2>Sign In with Twitter</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
          <md-button type=
          "button" ng-click="connect_twitter()" style="center">
             <md-icon md-svg-src="app/images/twitter_icon.svg"></md-icon>
             Connect with twitter!
          </md-button>



        </md-dialog-content>

        <div class="md-actions" layout="row">
            <md-button type="button" ng-click="cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
        </div>

</md-dialog>
