<!DOCTYPE html>
<html>
    <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="./app/layout.css" rel="stylesheet">
        
    <link href="./app/styles.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>

    <body>
        <header>
            <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="../index.html">tExchange</a>
                    </div>
                    <!--<ul class="nav navbar-nav">
                      <li class="active"><a href="../index.html">Home</a></li>
                    </ul>-->
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                      <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                  </div>
                </nav>
        </header>
        
        <section>
            <div class="container">
           <form class="form-horizontal" role="form">
            <form name="registerForm" ng-submit="submit()">
                <h2>Registration Form</h2>
                <div class="form-group">
                          <label>First name</label>
                          <input ng-model="firstName" class="form-control">
                </div>

                    <div class="form-group">
                          <label>Last name</label>
                          <input ng-model="lastName" class="form-control">
                    </div>
                
                <div class="form-group">
                      <label>Email</label>
                      <input type="email" ng-model="username" class="form-control">
                </div>
                
                <div class="form-group">
                      <label>Password</label>
                      <input type="password" ng-model="password" class="form-control">
            </div>
            
                <div class="form-group">
                      <label>Confirm Password</label>
                      <input type="password" ng-model="password" class="form-control">
            </div>
            
                <div class="form-group">
                    <div class="text-center">
                      <md-button ng-disabled="registerForm.$invalid" type="button" class="btn btn-primary btn-block" ng-click="register()">Register</md-button>
                    </div>
                </div>
        </section>
            
        <footer>
             <p>Senior Project</p>
        </footer>
            
    </body>
</html>               
        